<div class="center jumbotron">
  <h1>Welcome to Pool Hub</h1>

  <h2>
    Tpic Pool Movie
  </h2>

  <%= link_to "Create Account", signup_path, class: "btn btn-black" %>
</div>

<h3>New Videos</h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= @videos.each do |video| %>
      <li>
        <%= image_tag(video.thumbnail_img) %>
        <%= link_to video.title, video.url %>
        <%#= video.description %>
      </li>
    <% end %>
  </div>
</div>