<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "On the hill", Settings.oth_url %></li>
      <li><%= link_to "New Art", Settings.na_url %></li>
      <li><%= link_to "Billiards Days", Settings.bd_url %></li>
    </ul>
  </nav>
</footer>