<footer class="footer">
  <nav>
    <ul>
      <li><a href="http://www.onthehill.jp/">On the hill</a></li>
      <li><a href="https://www.newart.co.jp/">New Art</a></li>
      <li><a href="https://www.billiards-days.com/">Billiards Days</a></li>
    </ul>
  </nav>
</footer>