<footer class="footer">
  <small>
    The <a href="http://www.onthehill.jp/">On the hill</a>
    by <a href="https://www.billiards-days.com/">Billiards Days</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "popular",   popular_path %></li>
      <li><a href="https://www.newart.co.jp/">New Art</a></li>
    </ul>
  </nav>
</footer>